@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

header {
  height: 100px;
  border-bottom: solid 1px #ececec;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo {
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 167px;
  height: 51px;
  padding-left: 72px;
  text-decoration: none;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container .logo span {
  font-weight: 900;
  color: #f16d7f;
}

header .container .header_search_form {
  margin-left: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
}

header .container .header_search_form input {
  width: 280px;
  background-color: #ffffff;
  border: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 15px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container .header_search_form button {
  width: 37px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  line-height: 32px;
  color: #a4a4a4;
}

header .container .header_search_form .header_browse {
  width: 87px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  text-decoration: none;
}

header .container .header_search_form .header_browse i {
  margin-left: 8px;
}

header .container .header_cart {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .container .header_cart .cart_img_header {
  width: 32px;
  height: 29px;
}

header .container .header_cart .account_button {
  margin-left: 26px;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
}

header .container .header_cart .account_button i {
  padding-left: 8px;
}

.top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
}

.top_nav a:not(:last-child) {
  margin-right: 40px;
}

.top_nav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.top_nav a:hover {
  border-bottom: 3px solid #ef5b70;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.feedback_subscribe_block {
  background: url(img/feedback_subscribe_block.jpg) no-repeat center bottom, #ccc;
  background-size: cover;
  height: 438px;
  background-blend-mode: overlay;
  /*позволяет накладывать друг на друга слои */
}

.feedback_subscribe_block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback_subscribe_block .container .feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 0.5px);
  height: 438px;
}

.feedback_subscribe_block .container .feedback .feedback_img {
  height: 83px;
  width: 83px;
  margin-top: 111px;
}

.feedback_subscribe_block .container .feedback .feedback_content {
  margin-top: 117px;
  margin-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_text_top {
  width: 386px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_text_bottom {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_text_bottom span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points .feedback_point1 {
  /* z-index: 2; */
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points .feedback_point1:not(:last-child) {
  margin-right: 13px;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points .feedback_point1:hover {
  background-color: #f16d7f;
}

.feedback_subscribe_block .container .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 0.5px);
  height: 438px;
  border-left: 1px solid #ffff;
}

.feedback_subscribe_block .container .subscribe .subscribe_text_top {
  margin-top: 148px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.feedback_subscribe_block .container .subscribe .subscribe_text_bottom {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.feedback_subscribe_block .container .subscribe .subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input::-webkit-input-placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input:-ms-input-placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input::-ms-input-placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input::placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form button {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.brand_information {
  margin-top: 109px;
}

.brand_information .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand_information .container .brand_content {
  width: 427px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.brand_information .container .brand_content .logo {
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 167px;
  height: 51px;
  padding-left: 72px;
  text-decoration: none;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand_information .container .brand_content .logo span {
  font-weight: 900;
  color: #f16d7f;
}

.brand_information .container .brand_content .brand_content_text_top,
.brand_information .container .brand_content .brand_content_text_bottom {
  margin-top: 29px;
}

.brand_information .container .brand_nav {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 608px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 64px;
}

.brand_information .container .brand_nav .company,
.brand_information .container .brand_nav .information,
.brand_information .container .brand_nav .shop_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.brand_information .container .brand_nav .company a,
.brand_information .container .brand_nav .information a,
.brand_information .container .brand_nav .shop_category a {
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  text-decoration: none;
}

.brand_information .container .brand_nav .company span,
.brand_information .container .brand_nav .information span,
.brand_information .container .brand_nav .shop_category span {
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 89px;
  height: 79px;
  background-color: #e6e6e6;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .copy {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

footer .container .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer_links a {
  text-decoration: none;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}

footer .container .footer_links a:not(:last-child) {
  margin-right: 8px;
}

footer .container .footer_links a:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.new_arrivals {
  background-color: #f8f3f4;
}

.new_arrivals .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new_arrivals .container p {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.new_arrivals .container .arrivals_links a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.new_arrivals .container .arrivals_links a:hover {
  color: #f16d7f;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.cont_top {
  margin-top: 60px;
  margin-bottom: 110px;
}

.cont_top .site_block .product_menu .products_menu_toggler {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 5px solid #f16d7f;
  text-transform: uppercase;
  color: #f16d7f;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  background: url(img/caret-down-solid.svg) no-repeat right 5px center;
  background-size: 10px;
}

.cont_top .site_block .product_menu .products_menu_toggler,
.cont_top .site_block .product_menu .products_menu a {
  line-height: 37px;
  padding-left: 22px;
  padding-right: 22px;
}

.cont_top .site_block .product_menu .products_menu a {
  color: #6f6e6e;
  display: block;
  font-size: 14px;
}

.cont_top .site_block .product_menu .products_menu:not(:first-child) {
  margin-top: 18px;
}

.cont_top .site_block .main .product_options .trending .trending_head {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}

.cont_top .site_block .main .product_options .trending .trending_link_top {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont_top .site_block .main .product_options .trending .trending_link_bottom {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont_top .site_block .main .product_options .trending .trending_link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  padding-right: 10px;
  border-right: 1px solid #ebebeb;
}

.cont_top .site_block .main .product_options .trending .trending_link:not(:first-child) {
  padding-left: 10px;
}

.cont_top .site_block .main .product_options .size_choose .size_choose_head {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  padding-bottom: 25px;
}

.cont_top .site_block .main .product_options .size_choose .size_choose_block {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont_top .site_block .main .product_options .size_choose .size_choose_block .products_checkbox {
  display: inline-block;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  background: url(img/checkbox.png) no-repeat;
}

.cont_top .site_block .main .product_options .size_choose .size_choose_block input[type="checkbox"] {
  display: none;
}

.cont_top .site_block .main .product_options .size_choose .size_choose_block input[type="checkbox"]:checked + .products_checkbox {
  background: url(img/checkbox.png) no-repeat, url(img/check-solid.svg) no-repeat;
  background-size: contain, 12px;
  background-blend-mode: multiply;
}

.cont_top .site_block .main .product_options .size_choose .size_choose_block .size_choose_label {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-right: 20px;
  cursor: pointer;
}

.cont_top .site_block .main .product_options .prise .price_head {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}

.cont_top .site_block .main .product_options .prise img {
  margin-top: 24px;
}

.cont_top .site_block .main .product_options .prise .choose_price {
  padding-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont_top .site_block .main .product_options .prise .choose_price p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.cont_top .site_block .main .sort_by {
  margin-top: 41px;
  margin-right: 7px;
  margin-left: -15px;
}

.cont_top .site_block .main .sort_by .sort_by_input {
  background-color: #f3f3f3;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_top .site_block .main .sort_by .sort_by_input .sort_by_select_wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.cont_top .site_block .main .sort_by .sort_by_input .sort_by_select_wrap .sort_by_input_text {
  font-size: 14px;
  line-height: 11px;
  font-weight: 400;
  color: #6f6e6e;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.cont_top .site_block .main .sort_by .sort_by_input .sort_by_select_wrap .sort_by_select_block {
  font-size: 14px;
  line-height: 11px;
  font-weight: 400;
  color: #6f6e6e;
  padding: 9px 9px 9px 9px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-left: none;
}

.cont_top .site_block .main .sort_by .sort_by_input .sort_by_select_wrap .sort_by_select_block i {
  color: #6f6e6e;
  padding-right: 10px;
}

.cont_top .site_block .main .sort_by .sort_by_input .select_sort_by_number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 11px;
  font-weight: 400;
  color: #6f6e6e;
  width: 19px;
}

.cont_top .site_block .main .sort_by .sort_by_input .select_sort_by_text {
  border: none;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 11px;
  font-weight: 400;
  color: #6f6e6e;
}

.cont_top .site_block .main .product_item {
  margin-top: 58px;
}

.cont_top .site_block .main .product_item .product_item_group {
  height: 364px;
  margin-bottom: 38px;
}

.cont_top .site_block .main .product_item .product_item_group .product_name {
  margin: 19px 0 0 15px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}

.cont_top .site_block .main .product_item .product_item_group .product_cost {
  margin: 17px 0 21px 15px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.cont_top .site_block .main .page_wrap {
  margin-top: 5px;
}

.cont_top .site_block .main .page_wrap .col_page_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont_top .site_block .main .page_wrap .col_page_wrap .page_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 261px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.cont_top .site_block .main .page_wrap .col_page_wrap .page_number a {
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #c4c4c4;
}

.cont_top .site_block .main .page_wrap .col_page_wrap .page_number a:hover {
  color: #ef5b70;
}

.cont_top .site_block .main .page_wrap .col_page_wrap .page_number span {
  color: #c4c4c4;
}

.cont_top .site_block .main .page_wrap .col_page_wrap .view_all {
  width: 150px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
}

.cont_top .site_block .main .page_wrap .col_page_wrap .view_all p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #ef5b70;
  margin-bottom: 0;
}

.delivery {
  height: 341px;
  background-color: #222224;
  margin-top: 110px;
}

.delivery .cont_bottom .delivery_block {
  padding-top: 89px;
}

.delivery .cont_bottom .delivery_block .delivery_head {
  margin-top: 23px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.delivery .cont_bottom .delivery_block .delivery_text {
  text-align: justify;
  margin-top: 17px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 114px;
  width: 310px;
}

.delivery .cont_bottom .delivery_block .delivery_point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style_product.css.map */