@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "./site_top";
@import "./site_bottom";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.promo {
    height: 614px;
    background-color: #e8e8e8;
    .container {
        height: inherit;
        /* box-shadow: 0 0 10px inset grey; */
        background-image: url(img/topHeaderBack.png);
        background-repeat: no-repeat;
        background-position: top 5px right 40px;
        background-size: 545px;
        display: flex;
        align-items: center;
        .promo_slogan {
            border-left: 12px solid #f16d7f;
            height: 92px;
            padding-left: 12px;
            .promo_text1 {
                font-size: 60px;
                line-height: 45px;
                font-weight: 900;
                letter-spacing: 0.025em;
                color: #222222;
            }
            .promo_text2 {
                font-size: 40px;
                line-height: 29px;
                margin-top: 18px;
                & span {
                    color: #f16d7f;
                }
            }
        }
    }
}

main {
    margin-top: 98px;
    .container {
        display: flex;
        justify-content: space-between;
        .offer1,
        .offer2,
        .offer3,
        .offer4 {
            display: block;
        }
        .offer_label {
            background: white;
            padding: 16px 20px;
            display: inline-block;
            margin-top: 26px;
            max-width: 40%;
            .offer_label_top {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 900;
                letter-spacing: 0.025em;
                color: #222222;
            }
            .offer_label_bottom {
                font-size: 30px;
                color: #f16d7f;
            }
        }
        .offers_group1 {
            .offer1 {
                background-image: url(img/offer1.jpg);
                background-repeat: no-repeat;
                width: 560px;
                height: 542px;
            }
            .offer2 {
                background-image: url(img/offer2.jpg);
                background-repeat: no-repeat;
                width: 560px;
                height: 261px;
                margin-top: 20px;
            }
        }
        .offers_group2 {
            .offer3 {
                background-image: url(img/offer3.jpg);
                background-repeat: no-repeat;
                width: 560px;
                height: 261px;
            }
            .offer4 {
                background-image: url(img/offer4.jpg);
                background-repeat: no-repeat;
                width: 560px;
                height: 542px;
                margin-top: 20px;
            }
        }
    }
}

.featured_items {
    margin-top: 100px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .featured_items_top {
            font-size: 30px;
            line-height: 23px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #222222;
        }
        .featured_items_bottom {
            font-size: 14px;
            line-height: 13px;
            margin-top: 16px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #9f9f9f;
        }
    }
}

.products {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & a:not(:nth-child(4n)) {
        margin-right: 24px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        .product {
            display: block;
            text-decoration: none;
            margin-bottom: 39px;
            &:hover {
                position: relative;
                box-shadow: 0 5px 8px 0 rgba(0,0,0,0.15);
            }
            &:hover .put {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 10px;
                width: 123px;
                height: 39px;
                border: 1px solid #ffffff;
                background: none;
                font-size: 13px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
            }
            .put {
                display: none;
                position: absolute;
                z-index: 1;
            }
            .product_img1,
            .product_img2,
            .product_img3,
            .product_img4,
            .product_img5,
            .product_img6,
            .product_img7,
            .product_img8 {
                width: 267px;
                height: 280px;
                display: block;
                position: relative;
                .back {
                    width: 267px;
                    height: 280px;
                    opacity: 0;
                    background-color: rgba(58,56,56,0.83);
                    transition: .3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &:hover .back {
                opacity: 0.83;
                background-color: rgba(58,56,56,0.83);
            }
            .product_img1 {
                background-image: url(img/product1.jpg);
            } 

            .product_img2 {
                background-image: url(img/product2.jpg);
            }

            .product_img3 {
                background-image: url(img/product3.jpg);
            }

            .product_img4 {
                background-image: url(img/product4.jpg);
            }

            .product_img5 {
                background-image: url(img/product5.jpg);
            }

            .product_img6 {
                background-image: url(img/product6.jpg);
            }

            .product_img7 {
                background-image: url(img/product7.jpg);
            }

            .product_img8 {
                background-image: url(img/product8.jpg);
            }
            .product_text {
                padding: 20px 91px 20px 15px;
                .product_text_top {
                    font-size: 13px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #222222;
                }
                .product_text_bottom {
                    margin-top: 17px;
                    margin-bottom: 21px;
                    margin-right: 102px;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #f16d7f;
                }
            }
        }
    }
    .products_button {
        margin-top: 20px;  
        .Browse_all_product {
            padding: 18px 24px;
            background-color: #f16d7f;
            font-size: 16px;
            line-height: 15px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #ffffff;
            border: none;
            & i {
                color: #ffffff;
                padding-left: 9px;
            }
        }
    }
}

.benefit_offer {
    margin-top: 113px;
    .container {
        margin-bottom: 97px;
        display: flex;
        .benefit_img {
            width: 767px;
            height: 529px; 
            background-image: url(img/benefit_offer.jpg);
            background-repeat: no-repeat;
            box-shadow: inset 250px 69px 161px 10px rgba(0,0,0,0.5);
            .benefit_label {
                display: inline-block;
                width: 297px;
                box-sizing: border-box;
                margin: 146px 0 0 39px;
                .benefit_img_text_top {
                    font-size: 53.7px;
                    line-height: 1.2;
                    font-weight: 700;
                    letter-spacing: 0.025em;
                    color: #ffffff;
                    & span {
                        color: #f16d7f;
                    }
                }
                .benefit_img_text_bottom {
                    font-size: 32.2px;
                    color: #ffffff;
                }
            }
        }
        .benefit_points {
            width: 373px;
            height: 529px;
            background-color: #222224;
            .benefit_points_text_top {
                width: 219px;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }
            .benefit_points_text_bottom {
                padding-top: 17px;
                width: 219px;
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }
            .benefit_point1 {
                background-image: url(img/benefit_truck.svg);
                background-repeat: no-repeat;
                background-position: left 36px top 48px;
                padding: 55px 0 0 111px;
            }
            .benefit_point2 {
                background-image: url(img/benefit_sale.svg);
                background-repeat: no-repeat;
                background-position: left 36px top 48px;
                padding: 55px 0 0 111px;
            }
            .benefit_point3 {
                background-image: url(img/benefit_crown.svg);
                background-repeat: no-repeat;
                background-position: left 36px top 48px;
                padding: 55px 0 0 111px;
            }
        }
    }
}
