@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

header {
  height: 100px;
  border-bottom: solid 1px #ececec;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo {
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 167px;
  height: 51px;
  padding-left: 72px;
  text-decoration: none;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container .logo span {
  font-weight: 900;
  color: #f16d7f;
}

header .container .header_search_form {
  margin-left: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
}

header .container .header_search_form input {
  width: 280px;
  background-color: #ffffff;
  border: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 15px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container .header_search_form button {
  width: 37px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  line-height: 32px;
  color: #a4a4a4;
}

header .container .header_search_form .header_browse {
  width: 87px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  text-decoration: none;
}

header .container .header_search_form .header_browse i {
  margin-left: 8px;
}

header .container .header_cart {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .container .header_cart .cart_img_header {
  width: 32px;
  height: 29px;
}

header .container .header_cart .account_button {
  margin-left: 26px;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
}

header .container .header_cart .account_button i {
  padding-left: 8px;
}

.top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
}

.top_nav a:not(:last-child) {
  margin-right: 40px;
}

.top_nav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.top_nav a:hover {
  border-bottom: 3px solid #ef5b70;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.feedback_subscribe_block {
  background: url(img/feedback_subscribe_block.jpg) no-repeat center bottom, #ccc;
  background-size: cover;
  height: 438px;
  background-blend-mode: overlay;
  /*позволяет накладывать друг на друга слои */
}

.feedback_subscribe_block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback_subscribe_block .container .feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 0.5px);
  height: 438px;
}

.feedback_subscribe_block .container .feedback .feedback_img {
  height: 83px;
  width: 83px;
  margin-top: 111px;
}

.feedback_subscribe_block .container .feedback .feedback_content {
  margin-top: 117px;
  margin-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_text_top {
  width: 386px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_text_bottom {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_text_bottom span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points .feedback_point1 {
  /* z-index: 2; */
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points .feedback_point1:not(:last-child) {
  margin-right: 13px;
}

.feedback_subscribe_block .container .feedback .feedback_content .feedback_points .feedback_point1:hover {
  background-color: #f16d7f;
}

.feedback_subscribe_block .container .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 0.5px);
  height: 438px;
  border-left: 1px solid #ffff;
}

.feedback_subscribe_block .container .subscribe .subscribe_text_top {
  margin-top: 148px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.feedback_subscribe_block .container .subscribe .subscribe_text_bottom {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.feedback_subscribe_block .container .subscribe .subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input::-webkit-input-placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input:-ms-input-placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input::-ms-input-placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form input::placeholder {
  opacity: 0.67;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.feedback_subscribe_block .container .subscribe .subscribe_form button {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.brand_information {
  margin-top: 109px;
}

.brand_information .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand_information .container .brand_content {
  width: 427px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.brand_information .container .brand_content .logo {
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 167px;
  height: 51px;
  padding-left: 72px;
  text-decoration: none;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand_information .container .brand_content .logo span {
  font-weight: 900;
  color: #f16d7f;
}

.brand_information .container .brand_content .brand_content_text_top,
.brand_information .container .brand_content .brand_content_text_bottom {
  margin-top: 29px;
}

.brand_information .container .brand_nav {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 608px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 64px;
}

.brand_information .container .brand_nav .company,
.brand_information .container .brand_nav .information,
.brand_information .container .brand_nav .shop_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.brand_information .container .brand_nav .company a,
.brand_information .container .brand_nav .information a,
.brand_information .container .brand_nav .shop_category a {
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  text-decoration: none;
}

.brand_information .container .brand_nav .company span,
.brand_information .container .brand_nav .information span,
.brand_information .container .brand_nav .shop_category span {
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 89px;
  height: 79px;
  background-color: #e6e6e6;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .copy {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

footer .container .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer_links a {
  text-decoration: none;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}

footer .container .footer_links a:not(:last-child) {
  margin-right: 8px;
}

footer .container .footer_links a:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.new_arrivals {
  background-color: #f8f3f4;
}

.new_arrivals .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new_arrivals .container p {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.new_arrivals .container .arrivals_links a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.new_arrivals .container .arrivals_links a:hover {
  color: #f16d7f;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.cart {
  margin-top: 90px;
}

.cart .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart .container .shopping_grid_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.cart .container .product_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 0 21px 0;
}

.cart .container .product_information p {
  font-size: 13px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
  text-align: center;
}

.cart .container .product_information p:not(:first-child) {
  margin-left: 64px;
}

.cart .container .product_information .unity_price {
  width: 77px;
}

.cart .container .product_information .quantity {
  width: 65px;
}

.cart .container .product_information .shipping {
  width: 58px;
}

.cart .container .product_information .subtotal {
  width: 63px;
}

.cart .container .product_information .action {
  width: 49px;
}

.cart .container .product_information .img_action {
  width: 49px;
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart .container .cart_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 0 21px 0;
  width: 460px;
}

.cart .container .cart_product .cart_img {
  height: 115px;
  width: 100px;
  margin-right: 21px;
}

.cart .container .cart_product .cart_product_char {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 15px 0;
}

.cart .container .cart_product .cart_product_char .cart_product_name {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.cart .container .cart_product .cart_product_char .cart_product_char_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 38px;
}

.cart .container .cart_product .cart_product_char .cart_product_char_bottom .cart_product_char_text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}

.cart .container .cart_product .cart_product_char .cart_product_char_bottom .cart_product_char_text span {
  font-weight: 300;
  color: #6f6e6e;
}

.cart .container .cart_manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.cart .container .cart_manage .cart_manage_button {
  width: 235px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.cart_user_form {
  margin-top: 63px;
  margin-bottom: 79px;
}

.cart_user_form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_user_form .container .user_form_head {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.cart_user_form .container .user_form_input {
  margin-top: 22px;
  padding-left: 18px;
  width: 355px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.cart_user_form .container .user_form_input ::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.cart_user_form .container .user_form_input :-ms-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.cart_user_form .container .user_form_input ::-ms-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.cart_user_form .container .user_form_input ::placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.cart_user_form .container .user_form_button {
  /* padding: 12px 15px; */
  margin-top: 22px;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.cart_user_form .container .shipping_addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 35px;
}

.cart_user_form .container .cart_user_coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 35px;
}

.cart_user_form .container .cart_user_coupon .user_form_text {
  margin-top: 28px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.cart_user_form .container .cart_total {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_user_form .container .cart_total .total_sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 248px;
  border-bottom: 1px solid #e2e2e2;
  padding: 40px 0 22px 0;
}

.cart_user_form .container .cart_total .total_sum .total_text_top {
  /* margin-right: 16px; */
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: right;
}

.cart_user_form .container .cart_total .total_sum .total_text_top span {
  margin-left: 16px;
}

.cart_user_form .container .cart_total .total_sum .total_text_bottom {
  margin-top: 14px;
  font-size: 16px;
  line-height: 0.7;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: right;
}

.cart_user_form .container .cart_total .total_sum .total_text_bottom span {
  margin-left: 16px;
  color: #f16d7f;
}

.cart_user_form .container .cart_total .cart_buy_button {
  margin-top: 14px;
  width: 248px;
  height: 50px;
  background-color: #f16d7f;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
/*# sourceMappingURL=style_shop_cart.css.map */